<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9
#install specific version of libraries used in lab

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\geeth\anaconda3\lib\site-packages (1.3.9)

In [2]:
! pip install pandas==1.3.3
! pip install numpy=1.21.2

Collecting pandas==1.3.3
  Downloading pandas-1.3.3-cp39-cp39-win_amd64.whl (10.2 MB)
     ---------------------------------------- 10.2/10.2 MB 6.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\geeth\anaconda3\lib\site-packages (from pandas==1.3.3) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\geeth\anaconda3\lib\site-packages (from pandas==1.3.3) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\geeth\anaconda3\lib\site-packages (from pandas==1.3.3) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\geeth\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.3.3) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\geeth\\anaconda3\\Lib\\site-packages\\~andas\\_libs\\algos.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

ERROR: Invalid requirement: 'numpy=1.21.2'
Hint: = is not a valid operator. Did you mean == ?

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [15]:
pip install pysqlite3

Collecting pysqlite3
  Using cached pysqlite3-0.5.0.tar.gz (40 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'error'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3
Installing collected packages: pysqlite3
  Running setup.py install for pysqlite3: started
  Running setup.py install for pysqlite3: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  python setup.py bdist_wheel did not run successfully.
  exit code: 1

  [12 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-39
  creating build\lib.win-amd64-cpython-39\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-39\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-39\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pysqlite3
  error: subprocess-exited-with-error

  Running setup.py install for pysqlite3 did not run successfully.
  exit code: 1

  [14 lines of output]
  running install
  C:\Users\geeth\anaconda3\lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
    warnings.warn(
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-39
  creating build\lib.win-amd64-cpython-39\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-39\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-39\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

Encountered error while trying to install package.

pysqlite3

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [16]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [17]:
#%load_ext sql
%reload_ext sql

ModuleNotFoundError: No module named 'sql'

In [6]:
!pip install -q pandas==1.1.5

In [7]:
%sql sqlite:///my_data1.db

UsageError: Line magic function `%sql` not found.

In [9]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt

In [10]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\Users\geeth\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%sql select Launch_Site,count(*) as cnt from SPACEXTBL group by Launch_Site ; 
# where  location_description like ('%SCH%')

UsageError: Line magic function `%sql` not found.


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%sql select * from SPACEXTBL where  Launch_Site like ('CC%') limit 5;

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [17]:
%sql select Customer,PAYLOAD_MASS__KG_ from SPACEXTBL where  Customer like ("NASA (CRS)") ;

 * sqlite:///my_data1.db
Done.

[('NASA (CRS)', 500),
 ('NASA (CRS)', 677),
 ('NASA (CRS)', 2296),
 ('NASA (CRS)', 2216),
 ('NASA (CRS)', 2395),
 ('NASA (CRS)', 1898),
 ('NASA (CRS)', 1952),
 ('NASA (CRS)', 3136),
 ('NASA (CRS)', 2257),
 ('NASA (CRS)', 2490),
 ('NASA (CRS)', 2708),
 ('NASA (CRS)', 3310),
 ('NASA (CRS)', 2205),
 ('NASA (CRS)', 2647),
 ('NASA (CRS)', 2697),
 ('NASA (CRS)', 2500),
 ('NASA (CRS)', 2495),
 ('NASA (CRS)', 2268),
 ('NASA (CRS)', 1977),
 ('NASA (CRS)', 2972)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [22]:
%sql select Booster_Version,avg(PAYLOAD_MASS__KG_) from SPACEXTBL where  Booster_Version like ("F9 v1.1%") group by Booster_Version;

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4),
 ('F9 v1.1  B1003', 500.0),
 ('F9 v1.1 B1010', 2216.0),
 ('F9 v1.1 B1011', 4428.0),
 ('F9 v1.1 B1012', 2395.0),
 ('F9 v1.1 B1013', 570.0),
 ('F9 v1.1 B1014', 4159.0),
 ('F9 v1.1 B1015', 1898.0),
 ('F9 v1.1 B1016', 4707.0),
 ('F9 v1.1 B1017', 553.0),
 ('F9 v1.1 B1018', 1952.0)]

In [34]:
%sql select "Landing _Outcome", count(*) as cnt from SPACEXTBL group by "Landing _Outcome"

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 21),
 ('No attempt ', 1),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [35]:
%sql select min(Date) from SPACEXTBL where  "Landing _Outcome" in ("Success (ground pad)") ;

 * sqlite:///my_data1.db
Done.

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [40]:
%sql select Booster_Version,PAYLOAD_MASS__KG_,"Landing _Outcome"  from SPACEXTBL where  "Landing _Outcome" in ("Success (drone ship)") and PAYLOAD_MASS__KG_ > 4000  and PAYLOAD_MASS__KG_ < 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)')]

### Task 7




##### List the total number of successful and failure mission outcomes

In [41]:
%sql select Mission_outcome,"Landing _Outcome", count(*) as cnt from SPACEXTBL group by Mission_outcome,"Landing _Outcome"

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 'Precluded (drone ship)', 1),
 ('Success', 'Controlled (ocean)', 5),
 ('Success', 'Failure', 3),
 ('Success', 'Failure (drone ship)', 5),
 ('Success', 'Failure (parachute)', 2),
 ('Success', 'No attempt', 20),
 ('Success', 'No attempt ', 1),
 ('Success', 'Success', 38),
 ('Success', 'Success (drone ship)', 14),
 ('Success', 'Success (ground pad)', 8),
 ('Success', 'Uncontrolled (ocean)', 2),
 ('Success ', 'No attempt', 1),
 ('Success (payload status unclear)', 'Success (ground pad)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [58]:
#max = %sql select max(PAYLOAD_MASS__KG_) from SPACEXTBL

%sql select max(PAYLOAD_MASS__KG_) as mxpay from SPACEXTBL 

%sql select PAYLOAD_MASS__KG_,max(PAYLOAD_MASS__KG_) as mxpay from SPACEXTBL

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
Done.

[(15600, 15600)]

In [62]:
%sql select ss.Booster_Version,ss.PAYLOAD_MASS__KG_ from (select PAYLOAD_MASS__KG_,max(PAYLOAD_MASS__KG_) as mxpay from SPACEXTBL ) mm \
left join SPACEXTBL ss on ss.PAYLOAD_MASS__KG_ = mm.PAYLOAD_MASS__KG_;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [2]:
%sql select Date,substr(Date, 4, 2) as mnth,substr(Date,7,4) as yr,Booster_Version,"Landing _Outcome",Launch_Site from SPACEXTBL \
where  substr(Date,7,4) = "2015" ;

UsageError: Line magic function `%sql` not found.

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [1]:
%sql select  "Landing _Outcome",count(*) as cnt from (select  Date,substr(Date, 4, 2) as mnth,substr(Date,7,4) as yr,Booster_Version,"Landing _Outcome",Launch_Site from SPACEXTBL \
where  "Landing _Outcome" like ("Success%")) group by "Landing _Outcome" order by count(*) desc ;

UsageError: Line magic function `%sql` not found.

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>